@import "./../../sass/global";

.navbar {
	height: 70px;
	font-size: xx-large;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	padding: 0px 15px;
}

@media (width >= 400px) {
}
@media (width >= 500px) {
}
@media (width >= 768px) {
	.navbar {
		padding: 0px 20px;
	}
}
@media (width >= 991px) {
}
@media (width >= 1280px) {
}
