@import "../../../../sass/global";

.productcard {
	// background-color: brown;
	&-imagecontainer {
		height: 400px;
		width: 100%;
		background-color: aquamarine;
		position: relative;
	}
	&-image {
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
	&-stickercontainer {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 0;
	}
	&-percentsticker {
		position: relative;
		&-text {
			position: absolute;
			top: 6px;
			left: 15px;
		}
		&-svg {
			height: 100%;
		}
	}
	&-textsticker {
		background-color: #82b8d9;
		display: flex;
		align-items: center;
		padding: 0px 10px;
	}
	&-textarea {
		width: 100%;
		padding: 20px 0px;
		&-title {
			width: 100%;
			display: flex;
			justify-content: center;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 20px;
		}
		&-price {
			width: 100%;
			display: flex;
			justify-content: center;
			&-old {
				margin-right: 10px;
				color: #939393;
				text-decoration: line-through;
			}
		}
	}
}

@media (500px <=width <= 768px) {
	.productcard-percentsticker-svg {
		width: 80px;
	}
	.productcard-percentsticker-text {
		top: 4px;
		left: 6px;
	}
}
@media (width >= 400px) {
	.productcard {
		width: 100%;
	}
}
@media (width >= 500px) {
	.productcard {
		width: 100%;
	}
	.productcard-imagecontainer {
		height: 300px;
	}
}
@media (width >= 768px) {
	.productcard-imagecontainer {
		height: 400px;
	}
	.productcard-textsticker {
		padding: 0px 20px;
	}
}
@media (width >= 991px) {
}
@media (width >= 1280px) {
}
