.sidebar {
	width: 100%;
	padding: 10px 10px;
	background-color: darkkhaki;

	&-container {
	}
}

@media (width >= 400px) {
}
@media (width >= 500px) {
}
@media (width >= 768px) {
	.sidebar {
		width: 400px;
	}
}
@media (width >= 991px) {
}
@media (width >= 1280px) {
}
